
.lun_left{
    width: 135px;
    float: left;
    display: none;
    z-index: 5;
}
.lun_left ul li{
    width: 135px;
    height: 35px;
    background: url("img/back_li.gif");
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    position: relative;
    border-bottom: 1px solid darkred;
}

.lun_left ul li img{
    position: absolute;
    top: 5px;
    left: 10px;
}
.lun_left ul li .aa{
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.lun_left ul li ul {
    position: absolute;
    left: 136px;
    top: 0;
    width: 200px;
    background: #8F0100;
    z-index: 50;
    display: none;
    text-align: left;
}
.brandtan {
    width: 580px;
    padding: 10px 0 15px 15px;
    border: 3px solid #e3001d;
    background: #fff;
    position: absolute;
    left: 0px;
    top: -30px;
}
.selectsort {
    width: 395px;
    float: left;
}
.selectsort h2 {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: black;
}
.selectsort dl {
    padding: 8px 0px 5px;
    line-height: 20px;
}
.selectsort dl dt{
    color: red;
    font-weight: bold;
}
.selectsort dl dd{
    color: #a3a5a2;
    margin-top: 3px;
    line-height: 18px;
    display: inline-block;
}
.selectsort dl dd a {
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    color: #5f6a72;
    padding: 0 5px;
}
.prdhot {
    width: 150px;
    float: right;
    padding: 0px 5px 10px;
}
.prdhot h2 {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: black;
}
.prdhot dl {
    line-height: 22px;
    width: 150px;
    padding-bottom: 5px;
}
.prdhot dl dt {
    width: 75px;
    float: left;
    padding: 0;
    border: 0px;
    background: none;
    height: 22px;
    line-height: 22px;
}
.prdhot dl dt a {
    font-size: 12px;
    margin: 0px;
    color: #404040;
}


.login {
    width: 1140px;
    margin: 0 auto;
    margin-top: 15px;
}
.loginLeft {
    width: 500px;
    height: 300px;
    background: #f8f8f8;
    float: left;
    border: 2px #d9d9d9 dashed;
    padding: 20px;
    margin-bottom: 15px;
}
.loginLeft h1 {
    padding-left: 20px;
    font-size: 15px;
}
.loginLeft h1 b {
    color: #d90000;
    font-weight: normal;
}
.loginLeft dl {
    margin-top: 20px;
}
.loginLeft dl dd {
    height: 28px;
    line-height: 28px;
    margin-top: 15px;
}
.loginLeft dl dd span {
    width: 65px;
    display: block;
    vertical-align: middle;
    text-align: right;
    height: 28px;
    line-height: 28px;
    float: left;
    font-size: 14px;
}
.loginLeft dl dd .suiJi{
    display: inline-block;
    width: 50px;
    height: 22px;
    border: 1px solid #c0c0c0;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
}
.loginLeft dl dd input {
    vertical-align: middle;
    width: 200px;
    border: 1px solid #cfdce5;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 0 8px;
}
.loginLeft dl dt {
    margin-left: 70px;
    margin-top: 10px;
    font-size: 14px;
}
.loginLeft dl dt input {
    vertical-align: top;
    background: url(img/zc.gif) no-repeat;
    width: 106px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.loginRight {
    width: 500px;
    height: 300px;
    background: #f8f8f8;
    float: right;
    border: 2px #d9d9d9 dashed;
    padding: 20px;
    margin-bottom: 15px;
}
.loginRight h1 {
    padding-left: 20px;
    font-size: 15px;
}
.loginRight dl {
    margin-top: 20px;
}
.loginRight dl dd {
    height: 28px;
    line-height: 28px;
    margin-top: 15px;
}
.loginRight dl dd span {
    width: 65px;
    display: block;
    vertical-align: middle;
    text-align: right;
    height: 28px;
    line-height: 28px;
    float: left;
    font-size: 14px;
}
.loginRight dl dd input {
    vertical-align: middle;
    width: 200px;
    border: 1px solid #cfdce5;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 0 8px;
}
.loginRight dl dt {
    margin-left: 70px;
    margin-top: 10px;
    font-size: 14px;
}
.loginRight dl dt input {
    vertical-align: top;
    background: url(img/dl.png) no-repeat;
    width: 106px;
    height: 30px;
    border: none;
    cursor: pointer;
}